:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:host ::ng-deep .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #404040;
    margin: 64px 0;
}

:host ::ng-deep .title {
    font-weight: 500;
    font-size: 32px;
    margin: 0 auto;
    display: inline-block;
    line-height: 100%;
}

:host ::ng-deep .title-link {
    border-radius: 9999px;
    color: #899097;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    margin: 0 auto 48px auto;
    padding: 12px 24px;
    background: #F1F1F1;
}

:host ::ng-deep .title span {
    font-weight: bold;
    font-size: 24px;
    display: block;
    margin-top: -5px;
}

:host ::ng-deep .title-link:hover {
    background: #E9E9E9;
}

:host ::ng-deep .text {
    font-size: 16px;
    color: #222222;
    line-height: 125%;
    max-width: 824px;
}
