:host {
    display: block;
}

.button {
    width: 191px;
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
    margin: 0 auto;
    display: block;
    font-family: Roboto, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.button.apply {
    background-color: #158BFF;
    color: #fff;
    margin-top: 45px;
}

button:enabled {
    color: #596C7D;
}

.button.apply:disabled {
    opacity: 0.5;
}

.advanced {
    margin-top: 15px;
    color: #596C7D;
}
