.advanced {
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}

.advanced .preview {
    width: 100%;
    flex-basis: 759px;
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;
}

