<dx-card-view 
    #cardView
    keyExpr="id"
    [dataSource]="dataSource"
    [hoverStateEnabled]="true"
    [allowColumnReordering]="true"
>
    <dxo-paging [pageSize]="4"/>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[4, 8]"/>
    <dxo-selection showCheckBoxesMode="always"/>

    <dxi-column dataField="FullName" [sortIndex]="0" sortOrder="asc"/>
    <dxi-column dataField="title" [sortIndex]="1" sortOrder="asc"/>
    <dxi-column dataField="email"/>
    <dxi-column dataField="department"/>
</dx-card-view>
