:host {
    display: block;
    width: 100%;
}

:host > .collapsed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

:host ::ng-deep  .dx-button:not(.dx-closebutton) {
    margin: 0 15px 10px 15px;
}

:host ::ng-deep .dx-overlay-wrapper.dx-toast-wrapper {
    z-index: 1500!important;
}

#loadpanel-block,
#toast-block,
#tooltip-block  {
    height: 1px;
    width: 250px;
}

#tooltip-block  {
    position: relative;
}

#tooltip-block::ng-deep  .dx-tooltip-wrapper {
    position: initial !important;
}

#loadpanel-block {
    width: 240px;
}

:host-context(.dx-theme-fluent-typography) #loadpanel-block {
    width: 140px;
}

#tooltip-block {
    height: auto;
    width: 140px;
}

::ng-deep .dx-theme-material-typography #loadpanel-block {
    width: 100px;
}

#target-block {
    display: inline-block;
    text-align: center;
    padding: 120px 0 50px;
    height: 200px;
    width: 100%;
}

#target-element {
    display: inline-block;
    width: 20px;
    height: 10px;
}

#target-block #loadpanel-target {
    display: inline-block;
    width: 100%;
    height: 100px;
    margin-top: 100px;
}

.buttons-container {
    text-align: center;
}
