<div *ngIf="isExpanded.getValue(); then expandedBlock; else collapsedBlock"></div>
<ng-template #collapsedBlock>
    <div class="collapsed">
        <div id="loadpanel-block">
            <div id="loadpanel-target"></div>
        </div>
        <div id="toast-block">
            <div id="toast-target"></div>
        </div>
        <div id="tooltip-block">
            <div id="tooltip-preview-target">&nbsp;</div>
        </div>
    </div>
    <dx-tooltip
        #tooltipPreview
        width="100"
        target="#tooltip-preview-target"
        container="#tooltip-block"
        [animation]="null"
        [visible]="true"
        [hideOnParentScroll]="false"
        [position]="{at: 'right', my: 'right'}"
        [hideOnOutsideClick]="false">
        <div>Tooltip</div>
    </dx-tooltip>
    <dx-toast
        #toast
        message="Info toast"
        width="250"
        minWidth="250"
        type="info"
        [position]="{ of: '#toast-target', at: 'center', my: 'center' }"
        [visible]="true"
        (onHiding)="hiding($event)"
        (onContentReady)="toastInit($event)">
    </dx-toast>
    <dx-load-panel
        #loadPanel
        [visible]="true"
        [shading]="false"
        (onHiding)="hiding($event)"
        container="#loadpanel-block"
        [position]="{ of: '#loadpanel-target', at: 'left', my: 'left' }">
    </dx-load-panel>
</ng-template>

<ng-template #expandedBlock>
    <div class="buttons-container">
        <dx-button text="Popup" type="normal" width="135" (onClick)="popup.visible = true"></dx-button>
        <dx-button text="ActionSheet" width="135" type="normal" (onClick)="actionSheet.visible = true"></dx-button>
        <dx-button id="tooltip-button" width="135" text="Tooltip" type="normal" (onClick)="tooltip.visible = true"></dx-button>
    </div>
    <div id="loadpanel-target-expanded"></div>
    <div id="target-block">
        <div id="target-element"></div>
    </div>

    <dx-popup #popup
        title="Popup Title"
        [closeOnOutsideClick]="true"
        [showTitle]="true"
        width="400"
        height="150"
        [visible]="false"
        container="#target-block"
        [position]="{ of: '#target-element' }">
    </dx-popup>
    <dx-load-panel
        [visible]="true"
        [shading]="false"
        (onHiding)="hiding($event)"
        container="#target-block"
        [position]="{ of: ofValue, at: 'center', my: 'center' }">
    </dx-load-panel>
    <dx-action-sheet #actionSheet [dataSource]="actionSheetData" [visible]="false"></dx-action-sheet>
    <dx-tooltip #tooltip  target="#tooltip-button" position="top" [visible]="false">
        <div>Tooltip content</div>
    </dx-tooltip>
    <dx-toast
        message="Info toast"
        width="310"
        minWidth="310"
        [position]="{ of: '#target-element', at: 'left top', my:'right bottom' }"
        (onHiding)="hiding($event)"
        (onContentReady)="toastInit($event)"
        type="info"
        [visible]="true">
    </dx-toast>
    <dx-toast
        message="Warning toast"
        width="310"
        minWidth="310"
        [position]="{ of: '#target-element', at: 'right top', my:'left bottom' }"
        (onHiding)="hiding($event)"
        (onContentReady)="toastInit($event)"
        type="warning"
        [visible]="true">
    </dx-toast>
    <dx-toast
        message="Error toast"
        width="310"
        minWidth="310"
        [position]="{ of: '#target-element', at: 'left bottom', my: 'right top' }"
        (onHiding)="hiding($event)"
        (onContentReady)="toastInit($event)"
        type="error"
        [visible]="true">
    </dx-toast>
    <dx-toast
        message="Success toast"
        width="310"
        minWidth="310"
        [position]="{ of: '#target-element', at: 'right bottom', my:'left top' }"
        (onHiding)="hiding($event)"
        (onContentReady)="toastInit($event)"
        type="success"
        [visible]="true">
    </dx-toast>
</ng-template>
