.stepper-wrapper{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.stepper-wrapper-extended{
    height: 320px;
}

#stepperOptionsBlock {
    display: flex;
    align-items: center;
}

.vertical-separator{
    width: 1px;
    height: 32px;
    background-color: #DADADA;
}
