.text-area {
    margin: 10px 0 15px;
}

.radio-group {
    width: 240px;
    display: block;
    margin: 0 auto;
}

.tabs {
    margin-top: 20px;
}

.tabs .text {
    text-align: center;
    margin: 20px 0;
}

.tabs .text.first-tab {
    margin-bottom: 0;
}