.text-area {
    margin: 10px 0 15px;
}

.radio-group {
    width: 380px;
    display: block;
    margin: 0 auto;
}

::ng-deep .radio-group .dx-item {
    margin-right: 30px;
}

.tabs {
    margin-top: 20px;
}

.tabs .text {
    text-align: center;
    margin: 20px 0 10px;
}

.tabs .text.first-tab {
    margin-bottom: 0;
}