.text-area {
    margin: 32px 0 32px;
}

.radio-group {
    width: 380px;
    display: block;
    margin: 0 auto;
    padding-bottom: 27px;
}

::ng-deep .radio-group .dx-item {
    margin-right: 30px;
}

.tabs {
    margin-top: 48px;
    padding: 0 16px;
}

.tabs .text {
    text-align: center;
}

.tabs .text.first-tab, .tabs .text.second-tab {
    margin-top: 48px;
    margin-bottom: 20px;
}

.tabs .text.second-tab {
    margin-bottom: 42px;
}

app-bootstrap-uploader {
    margin-bottom: 32px;
}

.upload-meta {
    padding-bottom: 16px;
}

::ng-deep .upload-meta .button {
    box-shadow: none;
}


.additional-text {
    opacity: 0.5;
}
