<app-popup
    title="Theme Import"
    height="600px"
    #popup
>
    <dx-tab-panel class="tabs">
        <dxi-item title="DevExtreme Metadata">
            <div class="text first-tab">
                Upload a .json file with DevExtreme metadata
            </div>
            <app-bootstrap-uploader
                accept=".json"
                buttonText="Upload File"
                labelText=""
                height="65"
                (imported)="imported()"
            ></app-bootstrap-uploader>
            <div class="text additional-text">
                or paste metadata in the area below.
            </div>
            <dx-text-area
                #textArea
                valueChangeEvent="keyup"
                stylingMode="outlined"
                class="text-area"
                [(value)]="importValue"
                [height]="100"
                placeholder="Paste metadata here"
            >
            </dx-text-area>
            <app-button class="upload-meta" [disabled]="importValue.trim() === ''" (clicked)="applyClick(textArea)">Upload Metadata</app-button>
        </dxi-item>
        <dxi-item title="Bootstrap Variables">
            <div class="text second-tab">
                Upload a Bootstrap 5 theme file to apply its colors to a base DevExtreme theme.
                <br/>
                Choose the "_variables.scss" file.
            </div>

            <app-bootstrap-uploader
                [accept]="radioGroupData[selectedIndex].acceptFormat"
                [buttonText]="radioGroupData[selectedIndex].uploadButtonText"
                [version]="radioGroupData[selectedIndex].version"
                (imported)="imported()"
            ></app-bootstrap-uploader>
        </dxi-item>
    </dx-tab-panel>
</app-popup>
