version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:8

    steps:
      - checkout

      - run:
          name: Install packages
          command: npm install
      - run:
          name: Run linter
          command: npm run lint

workflows:
  version: 2
  lint:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages
