<div class="property-header" [innerHTML]="highlight(this.item.Name)"></div>
<div class="property-widget">
  @if (item.Type === 'select') {
    <dx-select-box
      stylingMode="filled"
      [value]="item.Value"
      [items]="item.TypeValuesArray"
      (onValueChanged)="valueChanged($event, item.Key)"
    ></dx-select-box>
  }

  @if (item.Type === 'text') {
    <dx-text-box
      stylingMode="filled"
      [value]="item.Value"
      (onValueChanged)="valueTextChanged($event, item.Key)"
    ></dx-text-box>
  }

  @if (item.Type === 'color') {
    <dx-color-box
      stylingMode="filled"
      [editAlphaChannel]="true"
      [value]="item.Value"
      (onValueChanged)="valueChanged($event, item.Key)"
    ></dx-color-box>
  }
</div>
