.property-widget {
    padding-right: 20px;
}

.property-delimiter {
    margin-top: 20px;
    height: 1px;
    background-color: #e3e7ea;
}

:host ::ng-deep .dx-dropdowneditor-icon {
    color: #9c9c9c;
}

