<dx-scroll-view #scrollView class="preview-scrollview">
    <div class="flex-container">
        <div class="flex-item group">
            <div class="flex-item">
                <app-button-detailed widget="editors" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <div class="flex-label">EDITORS</div>
                <div class="flex-value">
                    <app-editors #widget></app-editors>
                </div>
            </div>
            <div class="flex-item">
                <app-button-detailed widget="buttons" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <div class="flex-label">BUTTONS</div>
                <div class="flex-value">
                    <app-buttons #widget></app-buttons>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="pivotgrid" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">PIVOTGRID</div>
            <div class="flex-value">
                <app-pivotgrid #widget></app-pivotgrid>
            </div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="datagrid" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">DATAGRID</div>
            <div class="flex-value">
                <app-datagrid #widget></app-datagrid>
            </div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="treelist" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">TREELIST</div>
            <div class="flex-value">
                <app-treelist #widget></app-treelist>
            </div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="scheduler" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">SCHEDULER</div>
            <div class="flex-value">
                <app-scheduler #widget></app-scheduler>
            </div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="form" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">FORM</div>
            <div class="flex-value">
                <app-form #widget></app-form>
            </div>
        </div>
        <div class="flex-item"> 
            <app-button-detailed widget="list" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">LIST</div>
            <div class="flex-value">
                <app-list #widget></app-list>
            </div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="filterbuilder" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">FILTER BUILDER</div>
            <div class="flex-value">
                <app-filterbuilder #widget></app-filterbuilder>
            </div>
        </div>
        <div class="flex-item group">
            <div class="flex-item">
                <app-button-detailed widget="overlays" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <div class="flex-label">OVERLAYS</div>
                <div class="flex-value">
                    <app-overlays #widget></app-overlays>
                </div>
            </div>
            <div class="flex-item">
                <app-button-detailed widget="navigations.menu" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <div class="flex-label">MENU</div>
                <div class="flex-value">
                    <app-menu #widget></app-menu>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="navigations.treeview" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">TREEVIEW</div>
            <div class="flex-value">
                <app-treeview #widget></app-treeview>
            </div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="navigations.accordion" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">ACCORDION</div>
            <div class="flex-value">
                <app-accordion #widget></app-accordion>
            </div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="gallery" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">GALLERY</div>
            <div class="flex-value">
                <app-gallery #widget></app-gallery>
            </div>
        </div>
        <div class="flex-item group">
            <div class="flex-item">
                <app-button-detailed widget="navigations.tabs" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <div class="flex-label">TABS</div>
                <div class="flex-value">
                    <app-tabs #widget></app-tabs>
                </div>
            </div>
        </div> 
        <div class="flex-item group">
            <div class="flex-item">
                <app-button-detailed widget="progressbars" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <div class="flex-label">PROGRESS BAR</div>
                <div class="flex-value">
                    <app-progressbars #widget></app-progressbars>
                </div>
            </div>
            <div class="flex-item">
                <app-button-detailed widget="sliders" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <div class="flex-label">SLIDERS</div>
                <div class="flex-value">
                    <app-sliders #widget></app-sliders>
                </div>
            </div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="scrollview" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">SCROLL VIEW</div>
            <div class="flex-value">
                <app-scrollview #widget></app-scrollview>
            </div>
        </div>
        <div class="flex-item group">
            <div class="flex-item">
                <app-button-detailed widget="navigations.toolbar" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <div class="flex-label">TOOLBAR</div>
                <div class="flex-value">
                    <app-toolbar #widget></app-toolbar>
                </div>
            </div>
            <div class="flex-item empty"></div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="navigations.drawer" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">DRAWER</div>
            <div class="flex-value">
                <app-drawer #widget></app-drawer>
            </div>
        </div>
        <div class="flex-item">
            <app-button-detailed widget="fieldset" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
            <div class="flex-label">FIELDSET</div>
            <div class="flex-value">
                <app-fieldset #widget></app-fieldset>
            </div>
        </div>
        <div class="flex-item empty"></div>
    </div>
</dx-scroll-view>
