<dx-scroll-view #scrollView class="preview-scrollview" (onScroll)="fireScrollEventForClosingDropdowns()">
    <div class="component-container">
        <div class="component-item">
            <app-preview-title>Buttons</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="buttons" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-buttons #widget></app-buttons>
            </div>
        </div>

        <div class="component-item">
            <app-preview-title>Button group</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="button-group" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-button-group #widget></app-button-group>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Editors</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="editors" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-editors #widget></app-editors>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>PivotGrid</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="pivotgrid" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-pivotgrid #widget></app-pivotgrid>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>DataGrid</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="datagrid" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-datagrid #widget></app-datagrid>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>TreeList</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="treelist" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-treelist #widget></app-treelist>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title [isNew]="true">CardView</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="cardview" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-cardview #widget></app-cardview>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Scheduler</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="scheduler" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-scheduler #widget></app-scheduler>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Form</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="form" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-form #widget></app-form>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Chat</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="chat" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-chat #widget></app-chat>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Splitter</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="splitter" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-splitter #widget></app-splitter>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>List</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="list" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-list #widget></app-list>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Filter Builder</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="filterbuilder" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-filterbuilder #widget></app-filterbuilder>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Overlays</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="overlays" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-overlays #widget></app-overlays>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Menu</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="navigations.menu" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-menu #widget></app-menu>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>TreeView</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="navigations.treeview" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-treeview #widget></app-treeview>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Accordion</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="navigations.accordion" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-accordion #widget></app-accordion>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title [isNew]="true">Stepper</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="stepper" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-stepper #widget></app-stepper>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Tabs</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="navigations.tabs" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-tabs #widget></app-tabs>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Progress Bar</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="progressbars" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-progressbars #widget></app-progressbars>
            </div>
        </div>
        
        <div class="component-item component-item--half">
            <app-preview-title>Sliders</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="sliders" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-sliders #widget></app-sliders>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Scroll View</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="scrollview" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-scrollview #widget></app-scrollview>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Toolbar</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="navigations.toolbar" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-toolbar #widget></app-toolbar>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Drawer</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="navigations.drawer" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-drawer #widget></app-drawer>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Fieldset</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="fieldset" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-fieldset #widget></app-fieldset>
            </div>
        </div>

        <div class="component-item component-item--half">
            <app-preview-title>Gallery</app-preview-title>
            <div class="component-display">
                <app-button-detailed widget="gallery" [currentWidget]="widgetName" (clicked)="buttonDetailedClick($event)"></app-button-detailed>
                <app-gallery #widget></app-gallery>
            </div>
        </div>
    </div>
</dx-scroll-view>
