.component-container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.component-item {
    flex: 1 1 100%;
}

.component-item--half {
    flex: 1 1 45%;
}

.component-item--active {
    flex: 1 1 100%;
}

.component-item--active .component-display {
    max-height: max-content;
}

.component-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 24px;
}

.component-display {
    position: relative;
    height: calc(100% - 88px);
    max-height: 320px;
    padding: 24px;
    border: 2px dashed #DADADA;
    border-radius: 4px;
}

.component-display:hover,
.component-item.selected-component-item .component-display {
    border-color: #2190F7;
}

:host ::ng-deep .component-options {
    display: flex;
    gap: 24px;
    margin-bottom: 12px;
}

:host ::ng-deep .component-item:not(.component-item--active) button {
    display: none;
}

:host ::ng-deep .component-item:not(.component-item--active) .component-display:hover button {
    display: block;
}

/* =========== */

:host ::ng-deep .dx-scrollview.preview-scrollview > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-state-hover {
    background-color: rgba(191, 191, 191, 0.2);
}

:host ::ng-deep .dx-scrollview.preview-scrollview > .dx-scrollable-wrapper > .dx-scrollable-container > .dx-scrollbar-vertical.dx-scrollbar-hoverable .dx-scrollable-scroll .dx-scrollable-scroll-content {
    background-color: rgba(191, 191, 191, 0.7);
}
