<div class="header" [ngClass]="{ 'filled': switchEnabled }">
    <div class="logo" [routerLink]="['/']">
        <span>DevExtreme</span> ThemeBuilder
        <span>by DevExpress</span>
    </div>

    <div *ngIf="switchEnabled; then switcherBlock;"></div>

    <ng-template #switcherBlock>
        <div class="separator first"></div>
        <div class="switcher">
            <dx-select-box
                class="switcher-editor"
                [dataSource]="switcherData"
                [grouped]="true"
                displayExpr="text"
                valueExpr="themeId"
                fieldTemplate="field"
                [(value)]="currentThemeId"
                (onValueChanged)="themeChanged($event)"
            >
                <div *dxTemplate="let data of 'field'">
                    <div class="switcher-template">
                        <app-icon-theme-circle [theme]="data.text | lowercase" [small]="true" class="switcher-icon editor"></app-icon-theme-circle>
                        <dx-text-box
                            [value]="data.name + ' ' + data.text | titlecase"
                            [readOnly]="true"
                        ></dx-text-box>
                    </div>
                </div>
                <div *dxTemplate="let data of 'item'">
                    <div class="switcher-template">
                        <app-icon-theme-circle [theme]="data.text | lowercase" [small]="true" class="switcher-icon"></app-icon-theme-circle>
                        <div class="item-template-text">{{data.text}}</div>
                    </div>
                </div>
            </dx-select-box>
        </div>
        <div class="separator"></div>
        <app-header-button text="Import" icon="import" (click)="import.popup.show();"></app-header-button>
        <div class="separator"></div>
        <app-header-button text="Export" icon="export" (click)="export.popup.show();"></app-header-button>
        <div class="separator"></div>

        <app-import-popup #import></app-import-popup>
        <app-export-popup #export></app-export-popup>
    </ng-template>
</div>

