.header {
    height: 60px;
    display: flex;
    position: absolute;
    z-index: 1;
}

.header.filled {
    background-color: #fff;
    box-shadow: 0px -8px 9px 4px #000000;
    z-index: 1;
    position: relative;
}

.header > div {
    align-self: center;
}

.logo {
    color: #4e4e4e;
    padding-left: 20px;
    font-size: 18px;
    width: 220px;
    height: 40px;
    cursor: pointer;
}

.logo span {
    font-family: 'OpenSansCondensedBold', 'HelveticaNeue-CondensedBold', Helvetica, 'Arial Narrow', Calibri, Arial, 'Lucida Grande', sans-serif;
}

.logo span:first-child {
    color: #f05b41;
    font-size: 19px;
}

.logo span:last-child {
    color: #a2a2a2;
    font-size: 13px;
    margin-top: -5px;
    display: block;
}

.header .separator {
    width: 1px;
    background-color: #e3e7ea;
    height: 40px;
    margin: 10px 20px;
}

.header .separator.first {
    margin-left: 0;
}

.switcher-editor {
    border: none;
}

.switcher-editor.dx-dropdowneditor-active {
    background-color: #e6e6e6;
}

:host ::ng-deep .switcher-editor .dx-texteditor-input {
    background: transparent;
}

.switcher-template {
    display: flex;
}

.switcher-template .switcher-icon {
    padding: 3px;
    height: 30px;
    align-self: center;
}

.switcher-template .switcher-icon.editor {
    margin-left: 11px;
}

.switcher-template .item-template-text {
    align-self: center;
    padding-left: 10px;
}
