:host {
    display: block;
    height: 74px;
}

.header {
    height: 70px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    display: flex;
    /* min-width: 1000px;
    position: relative;
    z-index: 3; */
}

.header.filled {
    background-color: #fff;
    box-shadow: 0px -8px 9px 4px #000;
    z-index: 3;
    position: relative;
}

.header > div {
    align-self: center;
}

.logo {
    display: flex;
    gap: 12px;
    margin-left: 48px;
    width: 220px;
    cursor: pointer;
}

.logo .header-logo-js,
.logo .header-logo-devextreme {
    height: 40px;
}
.logo .header-logo-js {
    margin-top: -1px;
}

:host ::ng-deep .logo .header-logo-devextreme svg path {
    fill: #596C7D;
}

.header .separator {
    width: 1px;
    background-color: #e3e7ea;
    height: 40px;
    margin: 10px 20px;
}

.header .separator.first {
    margin-left: 0;
}

.header .separator.help {
    margin-left: auto;
}

.header .separator.help + app-help-button {
    margin-left: 0;
}

.switcher-editor {
    border: none;
}

.switcher-editor.dx-dropdowneditor-active {
    background-color: #e6e6e6;
}

:host ::ng-deep .switcher-editor .dx-texteditor-input {
    background: transparent;
}

.switcher-template {
    display: flex;
}

.switcher-template .switcher-icon {
    padding: 3px;
    height: 30px;
    align-self: center;
}

.switcher-template .switcher-icon.editor {
    margin-left: 11px;
}

.switcher-template .item-template-text {
    align-self: center;
    padding-left: 10px;
}

