<div class="header" [ngClass]="{ 'filled': switchEnabled }">
    <div class="logo" [routerLink]="['/']">
        <div>
            <app-icon-logo class="blue-colored"></app-icon-logo>
        </div>
        <div class="product-name">
            Theme Builder
        </div>
    </div>
    <div *ngIf="switchEnabled; then switcherBlock;"></div>

    <ng-template #switcherBlock>
        <div class="first"></div>
        <div *ngIf="switcherData" class="switcher">
            <dx-select-box
                class="switcher-editor"
                [dataSource]="switcherData"
                stylingMode="filled"
                [grouped]="true"
                groupTemplate="group"
                displayExpr="text"
                valueExpr="themeId"
                fieldTemplate="field"
                [(value)]="currentThemeId"
                (onValueChanged)="themeChanged($event)"
            >
                <div *dxTemplate="let data of 'group'; index as i;">
                    <div class="theme-group-header">
                        {{ data.key }}
                        <app-icon-tm-info *ngIf="data.key | includes: 'fluent'"
                                          id="fluent-tm-info-{{i}}" class="fluent-tm-info info-color"
                    ></app-icon-tm-info>
                        <dx-tooltip
                            target="#fluent-tm-info-{{i}}"
                            showEvent="dxhoverstart"
                            hideEvent="dxhoverend">
                            <div *dxTemplate="let data of 'content'">
                                <div class="theme-tm-tooltip">
                                    All trademarks or registered trademarks are property of their respective owners
                                </div>
                            </div>
                        </dx-tooltip>
                    </div>
                </div>
                <div *dxTemplate="let data of 'field'">
                    <div class="switcher-template">
                        <app-icon-theme-circle [theme]="data.text | lowercase" [small]="true" class="switcher-icon editor"></app-icon-theme-circle>
                        <dx-text-box
                            [value]="data.name + ' ' + data.text | titlecase"
                            [readOnly]="true"
                        ></dx-text-box>
                    </div>
                </div>
                <div *dxTemplate="let data of 'item'">
                    <div class="switcher-template">
                        <app-icon-theme-circle [theme]="data.text | lowercase" [small]="true" class="switcher-icon"></app-icon-theme-circle>
                        <div class="item-template-text">{{data.text}}</div>
                    </div>
                </div>
            </dx-select-box>
        </div>
        <div class="separator"></div>
        <app-header-button text="Import" icon="import" (click)="import.popup.show();"></app-header-button>
        <div class="separator"></div>
        <app-header-button text="Export" icon="export" (click)="export.popup.show();"></app-header-button>

        <app-import-popup #import></app-import-popup>
        <app-export-popup #export></app-export-popup>
        <div class="help"></div>
    </ng-template>

    <app-help-button></app-help-button>
</div>

