.notify {
    width: 500px;
    background-color: #d9534f;
    box-shadow: 0px 4px 16px rgb(0,0,0,.15);
    padding: 25px;
    border-radius: 5px;
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: bottom .5s;
    visibility: hidden;
}

.notify.visible {
    visibility: visible;
    bottom: 50px;
}

.notify-message {
    color: white;
    text-align: center;
}

.notify-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 14px;
    height: 14px;
    color: white;
    cursor: pointer;
}
