<div class="left-menu">
    
    <div class="working-area">
        <div class="name" (click)="openMenu()">
            <span class="arrow menu"></span>{{ workAreaName }}
        </div>

        <div class="scroll-container">
            <dx-scroll-view>
                <div *ngFor="let workItem of workArea" class="work-item">
                    <div *ngIf="workItem.GroupHeader" class="group" #group>
                        <div class="group-header" (click)="group.classList.toggle('closed')">
                            {{ getRealName(workItem.Name) }}
                            <span class="chevron dx-icon-chevronup"></span>
                        </div>
                        <div class="group-items">
                            <ng-container *ngFor="let item of workItem.Items">
                                <app-editor [item]="item"></app-editor>
                            </ng-container>
                        </div>
                    </div>
                    <div *ngIf="!workItem.GroupHeader">
                        <app-editor [item]="workItem"></app-editor>
                    </div>
                </div>
            </dx-scroll-view>
        </div>

    </div>
    <div class="dark-menu closed" [ngClass]="{ 'closed' : menuClosed }">
            <div class="menu-item top" (click)="menuClosed = true;">
                <div>
                    <app-back-navigator text="Back"></app-back-navigator>
                </div>
                <div class="search-container" [ngClass]="{'opened': searchOpened}" (click)="$event.stopPropagation()">
                    <span class="arrow search"></span>
                    <input #searchInput type="text" placeholder="Search..." [value]="searchKeyword" (input)="searchKeyword = $event.target.value;menuSearch();"/>
                </div>
                <div class="search-button" (click)="toggleSearch($event)">
                    <app-search-opener [opened]="searchOpened"></app-search-opener>
                </div>
            </div>
            <div class="separator"></div>
            <div class="scroll-container">
                <dx-scroll-view>
                    <div
                        *ngFor="let menuItem of filteredMenuData"
                        class="menu-item"
                        [routerLink]="['/advanced', theme, colorScheme, menuItem.groupKey]"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{exact: true}"
                        (click)="menuClosed = true;"
                    >
                        {{ menuItem.groupName }}
                    </div>
                </dx-scroll-view>
            </div>
        </div>
</div>
