:host {
    display: block;
    height: 100%;
    width: 240px;
    border-right: 1px solid #e3e7ea;
}

.left-menu {
    height: 100%;
    width: 100%;
}

.left-menu .dark-menu {
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    width: 241px;
    height: 100%;
    background-color: #505050;
    color: #fff;
    transition: left ease 200ms;
    overflow: hidden;
}

.left-menu .dark-menu.closed {
    left: -241px;
}

.left-menu .dark-menu .scroll-container {
    position: absolute;
    top: 44px;
    bottom: 0;
    width: 100%;
}

.left-menu .dark-menu .menu-item {
    font-size: 14px;
    padding: 8px 24px;
    cursor: pointer;
}

.left-menu .dark-menu .menu-item:first-child {
    padding-top: 10px;
}

.left-menu .dark-menu .menu-item.top {
    font-family: 'Roboto', 'OpenSansCondensedBold', 'HelveticaNeue-CondensedBold', Helvetica, 'Arial Narrow', Calibri, Arial, 'Lucida Grande', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 24px;
    border-bottom: 1px solid #6d6e6f;
    position: relative;
}

.left-menu .arrow {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 24px;
    width: 18px;
    height: 18px;
}

.left-menu .dark-menu .menu-item.active-link {
    background-color: #6f6f6f;
}

.left-menu .dark-menu .menu-item:not(.top):hover {
    color: #2190F6;
}

.left-menu .working-area {
    width: 240px;
    background-color: #fafbfb;
    height: 100%;
    overflow: hidden;
}

.left-menu .working-area .name {
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
}

.left-menu .working-area .name.top {
    font-size: 16px;
    font-weight: 600;
    color: #505050;
    border-bottom: 1px solid #e3e7ea;
    font-family: 'Roboto', 'OpenSansCondensedBold', 'HelveticaNeue-CondensedBold', Helvetica, 'Arial Narrow', Calibri, Arial, 'Lucida Grande', sans-serif;
    position: relative;
    padding-left: 50px;
}

.left-menu .working-area .name.top.search-active {
    padding-left: 20px;
    position: relative;
}

.left-menu .working-area .name.top.search-active .link-handler {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.left-menu .working-area .name.top .search-button,
.left-menu .working-area .name.top .search-container {
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    left: 200px;
    top: 0;
    background-color: #fafbfb
}


.left-menu .working-area .name.top .search-button {
    width: 40px;
    border-left: 1px solid #e3e7ea;
    border-bottom: 1px solid #e3e7ea;
}

.left-menu .working-area .name.top .search-container {
    width: 241px;
    border-bottom: 1px solid #e3e7ea;
    transition: left 200ms;
}

.left-menu .working-area .name.top .search-container.opened {
    left: 0;
}

.left-menu .working-area .name.top .search-container .search {
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Ctitle%3ESearch%3C/title%3E%3Cpath d='M17.71 16.29l-1.42 1.42-4.12-4.12A7 7 0 1 1 15 8a6.94 6.94 0 0 1-1.41 4.17ZM8 3a5 5 0 1 0 5 5A5 5 0 0 0 8 3Z' fill='%23505050' fill-rule='evenodd'/%3E%3C/svg%3E");
    cursor: default;
    left: 7px;
}

.left-menu .working-area .name.top .search-container input {
    height: 44px;
    width: 170px;
    border: none;
    position: absolute;
    left: 30px;
    padding: 0;
    background: transparent;
    color: #505050;
}
.left-menu .working-area .name.top .search-container input::placeholder {
    color: #b3b3b3;
}

.left-menu .working-area .name .arrow.menu {
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Ctitle%3EMenu%3C/title%3E%3Cpath d='M4 4V6H14V4Zm0 6H14V8H4Zm0 4H14V12H4Z' fill='%23505050' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.left-menu .working-area .scroll-container {
    top: 44px;
    bottom: 0;
    width: 240px;
    position: absolute;
}

.left-menu .working-area .work-item .group.closed .group-items {
    display: none;
}

.left-menu .working-area .work-item .group .group-header {
    color: #505050;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 20px 0 0;
    cursor: pointer;
}

.left-menu .working-area .work-item .group:not(.closed) {
    padding-bottom: 10px;
}

.left-menu .working-area .work-item .group .group-header .chevron {
    float: right;
    font-weight: bold;
    line-height: 20px;
    transition: transform 200ms;
}

.left-menu .working-area .work-item .group.closed .group-header .chevron {
    transform: rotate(180deg);
}

.left-menu .working-area .work-item {
    padding-left: 20px;
}

.left-menu .working-area .work-item:last-child {
    padding-bottom: 20px;
}

.left-menu .working-area .no-data {
    margin: 20px 10px 40px 10px;
    color: #8e979f;
    font-size: 13px;
}



