.search {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search:hover .icon {
    fill: #158BFF;
}

.icon {
    align-self: center;
    fill: #505050;
}
