<div class="left-menu">
    
    <div class="working-area">
        <div class="name" (click)="openMenu()">{{ workAreaName }}</div>
        <div *ngIf="workArea && workArea.length; then workingArea; else baseSettings"></div>
        <ng-template #workingArea>
            <div class="scroll-container">
                <dx-scroll-view>
                    <div *ngFor="let workItem of workArea" class="work-item">
                        <div *ngIf="workItem.GroupHeader" class="group-header">{{ getRealName(workItem.Name) }}</div>
                        <div *ngIf="!workItem.GroupHeader" class="property">
                            <div class="header">{{ getRealName(workItem.Name) }}</div>
                            <div class="widget">
                                <dx-select-box *ngIf="workItem.Type === 'select'" [value]="workItem.Value" [items]="workItem.TypeValuesArray"></dx-select-box>
                                <dx-text-box *ngIf="workItem.Type === 'text'" [value]="workItem.Value"></dx-text-box>
                                <dx-color-box *ngIf="workItem.Type === 'color'" [value]="workItem.Value"></dx-color-box>
                            </div>
                        </div>
                    </div>
                </dx-scroll-view>
            </div>
        </ng-template>
        <ng-template #baseSettings>
            Some base<div (click)="menuClosed = false;">1</div>
        </ng-template>
    </div>
    <div class="dark-menu" [ngClass]="{ 'closed' : menuClosed }">
            <div class="menu-item top" (click)="openWorkArea()">
                All Widgets
                <span class="arrow dx-icon-chevronright"></span>
            </div>
            <div class="separator"></div>
            <div class="scroll-container">
                <dx-scroll-view>
                    <div
                        *ngFor="let menuItem of menuData"
                        class="menu-item"
                        (click)="openWorkArea(menuItem.items, menuItem.groupName)"
                    >
                        {{ menuItem.groupName }}
                    </div>
                </dx-scroll-view>
            </div>
        </div>
</div>
