<div class="left-menu">
    
    <div class="working-area">
        <div class="name" (click)="openMenu()">
            <span class="arrow dx-icon-chevronleft"></span>{{ workAreaName }}
        </div>
        <div *ngIf="workArea && workArea.length; then workingArea; else baseSettings"></div>
        <ng-template #workingArea>
            <div class="scroll-container">
                <dx-scroll-view>
                    <div *ngFor="let workItem of workArea" class="work-item">
                        <div *ngIf="workItem.GroupHeader" class="group" #group>
                            <div class="group-header" (click)="group.classList.toggle('closed')">
                                {{ getRealName(workItem.Name) }}
                                <span class="arrow dx-icon-chevronup"></span>
                            </div>
                            <div class="group-items">
                                <ng-container *ngFor="let item of workItem.Items">
                                    <ng-container *ngTemplateOutlet="propertyItem; context: item"></ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <div *ngIf="!workItem.GroupHeader">
                            <ng-container *ngTemplateOutlet="propertyItem; context: workItem"></ng-container>
                        </div>
                    </div>
                </dx-scroll-view>
            </div>
        </ng-template>
        <ng-template #baseSettings>
            Some base<div (click)="menuClosed = false;">1</div>
        </ng-template>

        <ng-template #propertyItem let-name="Name" let-type="Type" let-value="Value" let-array="TypeValuesArray" let-last="IsLastSubGroupItem" let-key="Key">
            <div class="property-header">{{ getRealName(name) }}</div>
            <div class="property-widget">
                <dx-select-box *ngIf="type === 'select'" [value]="value" [items]="array" (onValueChanged)="valueChanged($event, key)"></dx-select-box>
                <dx-text-box *ngIf="type === 'text'" [value]="value" (onValueChanged)="valueChanged($event, key)"></dx-text-box>
                <dx-color-box *ngIf="type === 'color'" [value]="value" (onValueChanged)="valueChanged($event, key)"></dx-color-box>
            </div>
            <div *ngIf="last" class="property-delimiter"></div>
        </ng-template>
    </div>
    <div class="dark-menu" [ngClass]="{ 'closed' : menuClosed }">
            <div class="menu-item top" [routerLink]="['/advanced', theme, colorScheme]" (click)="menuClosed = true;">
                All Widgets
                <span class="arrow dx-icon-chevronright"></span>
            </div>
            <div class="separator"></div>
            <div class="scroll-container">
                <dx-scroll-view>
                    <div
                        *ngFor="let menuItem of menuData"
                        class="menu-item" [routerLink]="['/advanced', theme, colorScheme, menuItem.groupKey]"
                        (click)="menuClosed = true;"
                    >
                        {{ menuItem.groupName }}
                    </div>
                </dx-scroll-view>
            </div>
        </div>
</div>
