:host ::ng-deep .dx-button {
    margin-right: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
}

.buttons > div {
    display: inline-flex;
    align-items: center;
    height: 50px;
}

.buttons .type {
    font-weight: bold;
    color: #737272;
}

.buttons > div {
    flex: 1 0 100px;
}

:host ::ng-deep  .buttons .dx-button {
    margin-right: 0;
}
