.button-indent {
    margin-right: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0 auto;
}

.buttons > div {
    display: inline-flex;
    flex: 1 0 100px;
    align-items: center;
    height: 50px;
}

.buttons .type {
    font-weight: bold;
    color: #737272;
}

.buttons dx-button,
.buttons dx-button-group {
    margin: 0 auto;
}

:host ::ng-deep  .buttons .dx-button {
    margin-right: 0;
}

.horizontal-separator {
    max-width: 700px;
    margin: 30px auto;
    border-bottom: 1px solid rgba(156, 156, 156, 0.35);
}

.vertical-separator {
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    margin: 0 30px;
    border-right: 1px solid rgba(156, 156, 156, 0.35);
}