button {
    background-color: #158BFF;;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -2px;
    top: -2px;
    cursor: pointer;
    padding: 2px;
    border: none;
    border-radius: 0 4px 0 0;
}
