:host {
    align-self: center;
    margin-right: 48px;
    margin-left: auto;
}

.header-button {
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;
    display: flex;
    cursor: pointer;
    color: #596C7D;
    text-decoration: none;
}

.header-button > * {
    align-self: center;
    user-select: none;
}

.header-button svg {
    width: 24px;
    height: 24px;
    padding-right: 12px;
}

@media only screen and (max-width: 768px) {
    .header-button svg {
        padding-right: 0;
    }
    .header-button .button-text {
        display: none;
    }
}