::ng-deep .dx-popup-wrapper.export-import-popup > .dx-overlay-content {
    background: #f0f2f3;
}

::ng-deep .dx-popup-wrapper.wrappper-export-import-popup .dx-popup-content {
    padding: 24px;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 125%;
    color: #222222;
    font-family: 'Roboto, Segoe UI', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-button .dx-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
}

.close-button:hover .dx-icon {
    opacity: 1;
}

:host ::ng-deep .dx-overlay-content.dx-popup-normal.dx-resizable {
    border-radius: 16px;
}


::ng-deep .dx-popup-wrapper.export-import-popup .dx-popup-content .dx-textbox {
    border-radius: 0;
    border: 2px solid #d4d8da;
}

::ng-deep .dx-popup-wrapper.export-import-popup .dx-popup-content .dx-textbox.dx-state-readonly:not(.dx-textarea) {
    opacity: 0.5;
}

::ng-deep .dx-popup-wrapper.export-import-popup .dx-popup-content .dx-checkbox.dx-state-focused .dx-checkbox-icon {
    border-color: #d4d8da;
}

::ng-deep .dx-popup-wrapper.export-import-popup .dx-popup-content .dx-checkbox.dx-state-hover .dx-checkbox-icon {
    background-color: transparent;
    border-color: #d4d8da;
}

::ng-deep .dx-popup-wrapper.export-import-popup .dx-popup-content .dx-checkbox .dx-checkbox-text {
    color: #404040;
}

::ng-deep .dx-popup-wrapper.export-import-popup .dx-popup-content .dx-checkbox-icon {
    color: #2190F7;
    border: 2px solid #d4d8da;
}

::ng-deep .dx-tabpanel .dx-tabs-wrapper {
    display: flex;
    justify-content: space-around;
}

::ng-deep .tabs.dx-tabpanel .dx-tab {
    flex: 1;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .tabs.dx-tabpanel.dx-state-focused .dx-tab-selected:after {
    border-color: #d4d8da;
    border-width: 2px;
    border-bottom: 0;
}

::ng-deep .tabs .dx-tab-selected {
    background-color: #f0f2f3;
    color: #2190F7;
}

::ng-deep .tabs.dx-tabpanel .dx-tab-selected:before {
    border-bottom: 0;
}

::ng-deep .tabs .dx-tab.dx-state-focused:after {
    border-color: transparent;
}

::ng-deep .tabs .dx-tab-selected:after {
    border-color: #d4d8da;
    border-width: 2px;
    border-top-style: solid;
    height: 51px;
}


::ng-deep .tabs.dx-tabpanel .dx-multiview-wrapper,
::ng-deep .tabs.dx-tabpanel.dx-state-focused .dx-multiview-wrapper {
    border: none;
}

::ng-deep .radio-group.dx-radiogroup-horizontal .dx-radiobutton:first-of-type {
    margin-right: 32px;
}

::ng-deep .dx-radiobutton-checked .dx-radiobutton-icon-dot {
    background-color: #2190F7;
}

::ng-deep .dx-radiobutton.dx-state-focused:not(.dx-state-active) .dx-radiobutton-icon:before {
    border-color: #2190F7;
}

::ng-deep .dx-radiobutton.dx-state-hover:not(.dx-state-active) .dx-radiobutton-icon:before {
    border-color: #2190F7;
}
