<app-popup
    title="Export a Theme"
    #popup
>

    <div class="editor-item">
        <label>Custom color scheme name</label>
        <dx-text-box [(value)]="schemeName" [width]="360"></dx-text-box>
    </div>
    <div class="editor-item">
        <label>Swatch mode</label>
        <dx-switch [(value)]="makeSwatch" text="Make swatch"></dx-switch>
    </div>
    <div class="editor-item" *ngIf="outputFile && outputFile.length > 0">
        <label>Output file path</label>
        <dx-text-box [value]="outputFile" [readOnly]="true" [width]="360"></dx-text-box>
    </div>

    <div class="buttons">
        <div class="button apply" text="Export CSS" (click)="exportCss()">Export CSS</div>
        <div class="button apply" text="Export Metadata" (click)="exportMeta()"> Export Metadata</div>
    </div>
</app-popup>
