::ng-deep .dx-popup-wrapper.wrappper-export-import-popup > .dx-overlay-content {
    border-radius: 16px;
}

.indicator {
    display: flex;
    padding: 48px 24px 0 24px;
    position: relative;
    justify-content: space-between;
}

.indicator .indicator-item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.indicator .indicator-item .step-line {
    height: 2px;
    border-top: 2px dashed #E9E9E9;
    position: absolute;
    width: 210px;
    left: 58%;
    z-index: -1;
    top: 16px;
}

.indicator .indicator-item .item-text {
    margin-top: 16px;
    color: #222222;
    cursor: pointer;
    user-select: none;
    align-self: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.indicator .indicator-item .circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #f0f2f3;
    box-sizing: content-box;
    align-self: center;
    background: #F1F1F1;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #596C7D;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.indicator .indicator-item.active .circle {
    background: #2190F6;
    color: #fff;
}

.indicator .indicator-item.done .circle {
    background: #2190F6;
    color: #fff;
}

.indicator .indicator-item.done .step-line {
    border-top: 2px dashed #2190F6;
}

.indicator .indicator-item.active .item-text {
    color: #2190F6;
}

.indicator .indicator-item.done .item-text {
    color: #2190F6;
}

.view-wrapper {
    height: 468px;
}

::ng-deep .view-wrapper .dx-checkbox-text {
    padding-left: 12px;
    color: #596C7D;
}


.view-wrapper::after {
    right: 0;
    background: linear-gradient(90deg, rgba(240,242,243,0) 0%, rgba(240,242,243,1) 100%);
}

.view-wrapper::before {
    left: 0;
    background: linear-gradient(90deg, rgba(240,242,243,1) 0%, rgba(240,242,243,0) 100%);
}

.view-wrapper .views-container {
    height: 100%;
    padding-top: 48px;
    display: flex;
    transition: left ease-out 230ms;
}

.view-wrapper .views-container.view-0 {
    left: 40px;
}

.view-wrapper .views-container.view-0 .dx-checkbox {
    padding-left: 10px;
}

.view-wrapper .views-container.view-1 {
    left: -577px;
}

.view-wrapper .views-container.view-2 {
    left: -1187px;
}

.view-wrapper .views-container.view-3 {
    left: -1760px;
}

.view-wrapper .views-container.view-4 {
    left: -2360px;
}

.view-wrapper .views-container .view {
    width: 100%;
    height: 100%;
    color: #404040;
    display: flex;
    flex-direction: column;
    transition: opacity 100ms ease-out 150ms;
    opacity: 1;
}

.view  .select-all {
    padding: 16px 8px;
    border-bottom: 1px solid #E9E9E9;
}

.view-wrapper .views-container .view.hide-content {
    transition: opacity 100ms ease-out 0ms;
    opacity: 0;
}

.view-wrapper .views-container .view .padding-16 {
    padding-top: 16px;
}

.view-wrapper .views-container .view .buttons-container .prev-step.button {
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    color: #596C7D;
}

.view-wrapper .views-container .view .buttons-container.horizontal .prev-step.button:focus,
.view-wrapper .views-container .view .buttons-container.horizontal .prev-step.button:hover
{
    background-color: #E9E9E9;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    color: #596C7D;
}

.view-wrapper .views-container .view .buttons-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.view-wrapper .views-container .view .buttons-container.horizontal {
    justify-content: space-between;
}

.view-wrapper .views-container .view .buttons-container .button {
    align-self: flex-start;
    background: #2190F7;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100px;
    width: 180px;
    color: #fff;
}

.view-wrapper .views-container.view-2 .view .buttons-container.export-buttons .button {
    background-color: #fff;
    border: 1px solid #E9E9E9;
    box-shadow: none;
}

.view-wrapper .views-container.view-2 .view .buttons-container.export-buttons .button:hover {
    background-color: #E9E9E9;
}

.view-wrapper .views-container.view-2 .view .buttons-container.export-buttons {
    margin-bottom: 0;
}


.view-wrapper .views-container.view-2 .view .buttons-container.export-buttons .button .button-text {
    color: #596C7D;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.view-wrapper .views-container.view-2 .view .buttons-container.export-buttons .button:active,
.view-wrapper .views-container.view-2 .view .buttons-container.export-buttons .button:focus {
    background-color: #E9E9E9;
}

.view-wrapper .views-container.view-2 .view .buttons-container.export-buttons .button:active .button-text,
.view-wrapper .views-container.view-2 .view .buttons-container.export-buttons .button:focus .button-text {
    color: #596C7D;
}

.view-wrapper .views-container .view .buttons-container .button:active,
.view-wrapper .views-container .view .buttons-container .button:focus {
    background: #9e9e9e;
    color: #fff;
}

.view-wrapper .views-container .view .buttons-container.horizontal .button:active,
.view-wrapper .views-container .view .buttons-container.horizontal .button:hover,
.view-wrapper .views-container .view .buttons-container.horizontal .button:focus {
    background: #1188f6;
}

.view-wrapper .views-container .view .buttons-container .button:disabled,
.view-wrapper .views-container .view .buttons-container .button.disabled {
    opacity: 0.5;
}

.view-wrapper .views-container .view .buttons-container.horizontal .button {
    border-radius: 40px;
    width: 132px;
    height: 44px;
    flex-direction: row;
    font-size: 16px;
    align-self: flex-end;
}

.view-wrapper .views-container .view .buttons-container .button .button-text {
    user-select: none;
    text-align: left;
    padding-left: 10px;
}

.view-wrapper .views-container .view .buttons-container.horizontal .button .button-text {
    padding: 0 16px;
    line-height: 18px;
}

.view-wrapper .views-container .view .buttons-container.horizontal .button .button-icon i {
    font-size: 18px;
    display: block;
}

.view-wrapper .views-container .view .scheme-name {
    display: flex;
    align-items: center;
}

.view-wrapper .views-container .view .scheme-name dx-text-box {
    display: inline-block;
    width: 100%;
}

.tooltip-container {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
}

.tooltip-container.export {
    height: 16px;
}

.tooltip-container.swatch {
    height: 16px;
}

.export-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 8px;
}

.view-wrapper .views-container .view .export-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #899097;
}

.view-0 .export-text {
    margin-bottom: 8px;
}

.view-wrapper .views-container .view .export-text .tooltip-container {
    padding-left: 0;
}

.view-wrapper .views-container .view .widgets {
    height: 250px;
    display: flex;
    margin-left: 8px;
}

.view-wrapper .views-container .view .widgets .main-widgets {
    flex-basis: 130px;
    flex-grow: 0;
    position: relative;
    margin-right: 162px;
}

.view-wrapper .views-container .view .widgets .main-widgets dx-check-box {
    padding-top: 16px;
    display: block;
}

.view-wrapper .views-container .view .widgets .main-widgets dx-check-box:first-child {
    padding-top: 16px;
}

.view-wrapper .views-container .view .widgets .all-widgets {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.view-wrapper .views-container .view .widgets .all-widgets dx-text-box {
    margin-bottom: 10px;
}

.view-wrapper .views-container .view .widgets .all-widgets .group {
    margin: 16px 0 0 -5px;
    line-height: 1;
}

/* .view-wrapper .views-container .view .widgets .all-widgets .group.visible {
    display: flex;
    align-items: center;
} */

.view-wrapper .views-container .view .widgets .all-widgets .group i {
    font-size: 16px;
    vertical-align: bottom;
    color: #707070;
    cursor: pointer;
    margin-right: 10px;
}

.view-wrapper .views-container .view .widgets .all-widgets .group span {
    line-height: 22px;
    cursor: pointer;
    user-select: none;
}

.view-wrapper .views-container .view .widgets .all-widgets .group .group-widgets {
    display: none;
    margin-left: 35px;
}

.view-wrapper .views-container .view .widgets .all-widgets .group.expanded .group-widgets {
    display: block;
}

.view-wrapper .views-container .view .widgets .all-widgets .group .group-widgets dx-check-box {
    padding-top: 10px;
    display: none;
}

.view-wrapper .views-container .view .widgets .all-widgets .group .group-widgets dx-check-box.visible {
    display: block;
}

.view-wrapper .views-container .view dx-text-area {
    margin-top: 10px;
}

.view-wrapper .views-container .view .export-loading {
    height: 100px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-wrapper .views-container .view .export-loading.hidden {
    visibility: hidden;
}

.view-wrapper .views-container .view .export-loading span {
    line-height: 22px;
    padding-right: 5px;
}

.copy-area {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px 40px 40px 40px;
    position: absolute;
    background: #fff;
    left: 0;
    right: 0;
    top: 180px;
    opacity: 1;
    z-index: 1;
    height: 360px;
    transition: all 150ms ease-out 0ms;
}

.copy-area.hidden {
    transition: all 150ms ease-out 100ms;
    opacity: 1;
    top: 660px;
}

.copy-area .close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.copy-area .close-button i {
    font-size: 20px;
    color: #C9D3D8;
}

.copy-area .copy-text {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 20px;
}

