.indicator {
    display: flex;
    justify-content: space-between; /*remove?*/
}

.indicator .indicator-item {
    position: relative;
}

.indicator .indicator-item .item-text {
    color: rgba(64, 64, 64, 0.5);
    font-size: 16px;
}

.indicator .indicator-item .circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.indicator .indicator-item .circle,
.indicator .indicator-item .line {
    background: #c4c4c4;
}

.indicator .indicator-item.active .circle,
.indicator .indicator-item.active .line {
    background: #F16850;
}

.indicator .indicator-item.done .circle {
    background: #707070;
}

.indicator .indicator-item.active .item-text {
    color: #F16850;
}

.indicator .indicator-item.done .item-text {
    color: #707070;
}