<app-popup
    title="Theme Export"
    (popupShown)="popupShown()" 
    #popup
>
    <div class="indicator">
        <div class="indicator-item" [ngClass]="{ 'active': viewIndex === 0, 'done': viewIndex > 0 }">
            <div class="line"></div>
            <div class="circle"></div>
            <div class="item-text">Basic Settings</div>
        </div>
        <div class="indicator-item" [ngClass]="{ 'active': viewIndex === 1, 'done': viewIndex > 1 }">
            <div class="line"></div>
            <div class="circle"></div>
            <div class="item-text">Select Widgets</div>
        </div>
        <div class="indicator-item" [ngClass]="{ 'active': viewIndex === 2 }">
            <div class="circle"></div>
            <div class="item-text">Export Type</div>
        </div>
    </div>




</app-popup>
