<svg width="64" height="64" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect class="st0" width="80" height="80" rx="40" />
    <g clip-path="url(#clip0_2887_7381)">
        <circle class="st1" opacity="0.25" cx="40" cy="40" r="24" />
        <path class="st1" fill-rule="evenodd" clip-rule="evenodd" d="M57 57V23L40 57L23 23V57H40H57Z" />
        <path class="st1" opacity="0.5" d="M40 57L23 23H57L40 57Z" />
    </g>
    <defs>
        <clipPath id="clip0_2887_7381">
            <rect class="st1" width="48" height="48" transform="translate(16 16)" />
        </clipPath>
    </defs>
</svg>
