<div class="content">
    <div class="title-link" [routerLink]="['/import']">Import a Theme</div>
    <div class="container">
        <div class="title">
            DevExtreme Metadata
        </div>
        <app-bootstrap-uploader
            accept=".json"
            buttonText="Import File"
        ></app-bootstrap-uploader>
        <div class="text">
            or insert metadata in the following field.
        </div>
        <dx-text-area [width]="560" [height]="200" #textArea valueChangeEvent="keyup" [(value)]="importValue"></dx-text-area>
        <app-button type="apply" [disabled]="importValue === ''" (clicked)="applyClick(textArea)">Import Code</app-button>
    </div> 
</div>
