<div class="content" [ngClass]="{'master': isMaster}">
    <div class="section left">
        <div class="title">
            <div [routerLink]="['/master', themeName]">
                <app-icon-arrow></app-icon-arrow>
                {{themeName | titlecase}} Theme
                <span>Select color sheme</span>
            </div>
        </div>
        <div class="themes-list">
            <ul class="schemes" *ngFor="let side of [rightThemes, leftThemes]">
                <li *ngFor="let theme of side" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" [routerLink]="['/master', theme.name, theme.colorScheme]">
                    <span class="color-circle {{theme.text | lowercase}}"></span>
                    <span class="color-name">{{theme.text}}</span>
                </li>
            </ul>
        </div>
        <div class="back-button" [routerLink]="['/master']">
            <app-icon-arrow></app-icon-arrow>
            <span>Back to select theme</span>
        </div>
        <div class="base-theming">
            <ul>
                <li *ngIf="isCompactThemes">
                    <span>Base size</span>
                    <dx-select-box width="140" height="35" [items]="['Normal', 'Compact']" value="Normal"></dx-select-box>
                </li>
                <li>
                    <span>Accent color</span>
                    <dx-color-box *ngIf="baseConstants" value="{{baseConstants.baseAccent | lowercase}}" width="140" height="35"></dx-color-box>
                </li>
                <li>
                    <span>Text color</span>
                    <dx-color-box *ngIf="baseConstants" value="{{baseConstants.baseTextColor}}" width="140" height="35"></dx-color-box>
                </li>
                <li>
                    <span>Border radius</span>
                    <dx-text-box *ngIf="baseConstants" value="{{baseConstants.baseBorderRadius}}" width="140" height="35"></dx-text-box>
                </li>
                <li>
                    <span>Background color</span>
                    <dx-color-box *ngIf="baseConstants" value="{{baseConstants.baseBg}}" width="140" height="35"></dx-color-box>
                </li>
            </ul>
            <div class="button apply">Save css</div>
            <div class="button advanced">Advanced Customized</div>
        </div>
    </div>
    <div class="section right">
        <app-iframe *ngIf="iframeData" [iframeData]="iframeData"></app-iframe>
    </div>
</div>