.master .section {
    text-align: left;
    float: left;
    box-sizing: border-box;
    display: block;
}

.master .section.left {
    position: relative;
    width: 750px;
    padding-top: 100px;
}

.master .section.right {
    display: block;
    position: absolute;
    left: 750px;
    right: 0;
    top: 100px;
    height: 800px;
    min-width: 800px;
    max-width: 1700px;
    background-color: #e2e5e7; 
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3); 
}

.master .section.right > * {
    height: 100%;
}

.master .title {
    width: 310px;
    text-align: left; 
    margin-left: 100px;  
}

/* .master .title:before {
    margin: 0;
} */

.master .title span {
    margin-left: 2px;
}

.master .title-link {
    margin-left: 100px;
}

.master .schemes-container {
    width: 180px;
    position: absolute;
    left: 90px;
    right: 300px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
}

.schemes .color-name {
    display: inline-block;
    vertical-align: middle;
}

.schemes li {
    border-radius: 28px;
    padding: 5px 5px;
    text-align: left;
    color: #505050;
    cursor: pointer;
}

.schemes li:hover {
    background-color: #d9dde0;
}

.schemes li.active {
    background-color: #e2e5e7;
}

.schemes .color-circle {
    width: 45px;
    height: 45px;
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}

.schemes .color-circle.light {
    border-color: #fff; 
    background-color: #337ab7;  
}

.schemes .color-circle.dark {
    border-color: #363640;
    background-color: #1ca8dd;
}

.schemes .color-circle.blue {
    background-color: #03a9f4;
}

.schemes .color-circle.orange {
    background-color: #ff5722;
}

.schemes .color-circle.lime {
    background-color: #cddc39;
}

.schemes .color-circle.purple {
    background-color: #9c27b0 ;
}

.schemes .color-circle.teal {
    background-color: #009688;
}

.schemes .color-circle.soft {
    background-color: #7ab8eb;
    border-color: #fff;
}

.schemes .color-circle.carmine {
    background-color: #f05b41;
    border-color: #fff;
}

.schemes .color-circle.dark.moon {
    background-color: #3debd3;
    border-color: #465672;
}

.schemes .color-circle.dark.violet {
    background-color: #9c63ff;
    border-color: #17171f;
}

.schemes .color-circle.green {
    background-color: #3cbab2;
    border-color: #f5f5f5;
}

.base-theming {
    width: 310px;
    float: right;
}

.base-theming .editors {
    background-color: #e2e5e7;
    width: 100%;
    padding: 30px 50px 30px 60px;
    margin-bottom: 30px;
    margin-top: 50px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

.base-theming .editors:after {
    content: "Base Theming";
    text-transform: uppercase;
    font-weight: bold;
    color: #9c9c9c;
    position: absolute;
    transform: rotate(-90deg);
    top: 45%;
    left: -30px;
    font-size: 14px;
}

.base-theming .work-item {
    width: 140px;
    height: 50px;
    margin-bottom: 18px;
}

.base-theming .work-item .property-header, ::ng-deep .base-theming .work-item .property-header {
    display: block;
    margin-bottom: 5px;
    color: #9c9c9c;
    padding: 0;
}

::ng-deep .base-theming .work-item .property-widget {
    padding: 0;
}

.advanced {
    background-color: #fff;
    margin-top: 10px;
}

.button.advanced:focus,
.button.advanced:active {
    background-color: #d0442c;
    color: #fff;
}

/* .section {
    display: none;
} */

