<div class="content" [ngClass]="{'master': isMaster}">
    <div class="section left">
        <div class="title">
            <div [routerLink]="['/master', themeName]">
                <app-icon-arrow></app-icon-arrow>
                {{themeName | titlecase}} Theme
                <span>Select color sheme</span>
            </div>
        </div>
        <div class="themes-list">
            <ul class="schemes" *ngFor="let side of [rightThemes, leftThemes]">
                <li *ngFor="let theme of side" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" [routerLink]="['/master', theme.name, theme.colorScheme]">
                    <span class="color-circle {{theme.text | lowercase}}"></span>
                    <span class="color-name">{{theme.text}}</span>
                </li>
            </ul>
        </div>
        <div class="back-button" [routerLink]="['/master']">
            <app-icon-arrow></app-icon-arrow>
            <span>Back to select theme</span>
        </div>
        <div class="base-theming">
            <div class="editors">
                <div class="work-item">
                    <div class="property-header">Base size</div>
                    <div class="property-widget">
                        <dx-select-box [items]="['Normal', 'Compact']" value="Normal"></dx-select-box>
                    </div>
                </div>
                <app-base-parameters></app-base-parameters>
            </div>
            <div class="button apply">Save css</div>
            <div class="button advanced" [routerLink]="['/advanced', themeName, colorScheme, 'base.common']">Advanced Customized</div>
        </div>
    </div>
    <div class="section right">
        <app-iframe *ngIf="isMaster"></app-iframe>
    </div>
</div>
