<div class="master"> 
    <div class="section left">
        <div class="title-link master" [routerLink]="['/master']">Select a Theme</div>
        <div class="title">
            {{themeName | titlecase}} Theme
            <span>Select color sheme</span>
        </div>
        <div class="schemes-container">
            <ul class="schemes" *ngFor="let side of [rightThemes, leftThemes]">
                <li *ngFor="let theme of side" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}" [routerLink]="['/master', theme.name, theme.colorScheme]">
                    <span class="color-circle {{theme.text | lowercase}}"></span>
                    <span class="color-name">{{theme.text}}</span>
                </li>
            </ul>
        </div>
        <div class="base-theming">
            <div class="editors">
                <div class="work-item">
                    <div class="property-header">Base size</div>
                    <div class="property-widget">
                        <dx-select-box [items]="['Normal', 'Compact']" value="Normal"></dx-select-box>
                    </div>
                </div>
                <app-base-parameters></app-base-parameters>
            </div>
            <div class="button apply">Save CSS</div>
            <div class="button advanced" [routerLink]="['/advanced', themeName, colorScheme, 'base.common']">Advanced Theming</div>
        </div>
    </div>
    <div class="section right">
        <app-iframe *ngIf="showIframe"></app-iframe>
    </div>
</div>
