.master {
    position: relative;
    display: flex;
}

.theme-selection {
    width: 126px;
    padding: 12px 24px;
}

.theme-selection > div {
    display: flex;
    align-items: center;
}

.arrow-back {
    margin-right: 12px;
    height: 18px;
}

:host ::ng-deep .master .loading {
    width: calc(100% - 750px);
    left: 750px; /*!*/
}

.master .section {
    text-align: left;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-basis: 750px;
    flex-grow: 0;
}

.master .section.left {
    position: relative;
    width: 750px;
    padding-top: 56px;
}

.master .section.right {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 56px;
    margin-bottom: 118px;
    height: 820px;
    min-width: 1160px;
    background-color: #fff;
    box-shadow: 0 4px 12px #0000004d;
    z-index: 1;
    border-radius: 8px;
}

.master .section.right > * {
    height: 100%;
    border-radius: 8px;
}

.master .title {
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin-left: 48px;
    display: inline-block;
}

.master .title span {
    margin-left: 2px;
}

.master .title-link {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 16px 48px;
}
.master .title-link:hover {
    opacity: 1;
}

.master .schemes-container {
    width: 180px;
    position: absolute;
    left: 48px;
    right: 300px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 48px;
}

.schemes .color-name {
    display: inline-block;
    vertical-align: middle;
}

.schemes li {
    border-radius: 28px;
    padding: 5px 5px;
    text-align: left;
    color: #505050;
    cursor: pointer;
    margin-bottom: 2px;
}

.schemes li:hover {
    background-color: #d9dde0;
}

.schemes li.active {
    background-color: #e2e5e7;
}

.base-theming {
    width: 310px;
    float: right;
    /* margin-top: -95px; */
}



@media (min-width: 1950px) {
    .master .section.right {
        margin-right: 48px;
    }
}

@media (max-width: 1000px) {
    .master .section.left {
        flex-basis: 700px;
    }
}

@media only screen and (max-width: 768px) {
    .master {
        flex-direction: column;
    }
    .master .section.right {
        min-width: auto;
        width: auto;
    }
}
