.master .section {
    width: 50%;
    height: 100%;
    text-align: left;
    padding-top: 100px;
    float: left;
    box-sizing: border-box;
}

.master .section.left {
    position: relative;
}

.master .section.right {
    display: block;
}

.master .base-theming {
    display: block;
}

.master .title {
    width: 310px;
    padding-left: 100px;
    text-align: center;   
}

.master .title > div  {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 0;  
}

.master .title .back-arrow {
    opacity: 1;
}

.themes-list {
    width: 430px;
    margin: 50px auto 0;
    -webkit-transition: all 1s ease-out 0.5s;
    -moz-transition: all 1s ease-out 0.5s;
    -o-transition: all 1s ease-out 0.5s;
    transition: all 1s ease-out 0.5s;
}


.master .schemes li {
    border-radius: 27.5px;
    padding: 5px 5px;
    color: rgba(80, 80, 80, 255);
    cursor: pointer;
}


.schemes .color-name {
    display: inline-block;
    vertical-align: middle;
}

.master .themes-list {
    width: 180px;
    position: absolute;
    left: 90px;
    right: 300px;
    margin-left: 0;
    margin-right: 0;
}

.master .schemes {
    margin: 0;
}

.title .back-arrow {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -54px;
    top: 23px;
    opacity: 0;
    transition: opacity 2s ease-out;
}

.schemes {
    /*float: left;*/
    display: inline-block;
    width: 180px;
    margin: 0 0 0 35px;
    transition: all 1s ease-out 0.5s;
}

.schemes li {
    border-radius: 27.5px;
    padding: 5px 5px;
    text-align: left;
    color: rgba(80, 80, 80, 255);
    cursor: pointer;
}

.schemes li:hover {
    background-color: #d9dde0;
}

.schemes li.active {
    background-color: #e2e5e7
}

.schemes .color-circle {
    width: 45px;
    height: 45px;
    display: inline-block;
    box-sizing: border-box;
    border-style: solid;
    border-width: 10px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}

.schemes .color-circle.light {
    border-color: #fff; 
    background-color: #337ab7;  
}

.schemes .color-circle.dark {
    border-color: #363640;
    background-color: #1ca8dd;
}

.schemes .color-circle.blue {
    background-color: #03a9f4;
}

.schemes .color-circle.orange {
    background-color: #ff5722;
}

.schemes .color-circle.lime {
    background-color: #cddc39;
}

.schemes .color-circle.purple {
    background-color: #9c27b0 ;
}

.schemes .color-circle.teal {
    background-color: #009688;
}

.schemes .color-circle.soft.blue {
    background-color: #7ab8eb;
    border-color: #fff;
}

.schemes .color-circle.soft.blue {
    background-color: #7ab8eb;
    border-color: #fff;
}

.schemes .color-circle.carmine {
    background-color: #f05b41;
    border-color: #fff;
}

.schemes .color-circle.carmine {
    background-color: #f05b41;
    border-color: #fff;
}

.schemes .color-circle.dark.moon {
    background-color: #3debd3;
    border-color: #465672;
}

.schemes .color-circle.dark.violet {
    background-color: #9c63ff;
    border-color: #17171f;
}

.schemes .color-circle.green.mist {
    background-color: #3cbab2;
    border-color: #f5f5f5;
}


.base-theming {
    width: 310px;
    float: right;
}

.base-theming ul {
    background-color: #e2e5e7;
    width: 100%;
    padding: 30px 50px 30px 60px;
    margin-bottom: 30px;
    margin-top: 50px; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

.base-theming ul:after {
    content: "Base Theming";
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(156, 156, 156, 255);
    position: absolute;
    transform: rotate(-90deg);
    top: 45%;
    left: -30px;
    font-size: 14px;
}

.base-theming li {
    width: 140px;
    height: 50px;
    margin-bottom: 18px;
    color: rgba(156, 156, 156, 255);
}

.base-theming li span {
    display: block;
    margin-bottom: 5px;
}

.advanced {
    background-color: #fff;
    margin-top: 10px;   
}

.button.advanced:hover {
    background-color: #f05b41;
    color: #fff;
}

.button.advanced:focus,
.button.advanced:active {
    background-color: #d0442c;
    color: #fff;
}

.section.right {
    display: none;
}

.base-theming {
    display: none;
}

.master .back-button {
    display: none;
}
