.blocks {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.blocks .block {
    align-items: center;
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 0;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    color: #596C7D;
    cursor: pointer;
}

.blocks .block .block-image {
    width: 80px;
    height: 80px;
}

.blocks .block:hover {
    background-color: #2190F7;
    color: #fff;
}

.blocks .block .block-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
}

:host ::ng-deep .blocks .block:hover .block-image .st0  {
    fill: #fff;
}
:host ::ng-deep .blocks .block:hover .block-image .st1  {
    fill: #2190F7;
}

:host ::ng-deep .blocks .block:hover .block-image .icon-material .st1,
:host ::ng-deep .blocks .block:hover .block-image .icon-material .st2  {
    fill:#158BFF;
}

.text {
    margin: 50px auto 80px auto;
}
