<div class="content">
    <div class="title-link" *ngIf="url !== ''" [routerLink]="['/']">Theme Builder</div>
    <ng-container [ngSwitch]="url">
        <ng-container *ngSwitchCase="''" >
            <div class="container">
                <div class="title index">Theme Builder</div>
                <div class="text">
                    The Theme Builder is a tool for building a theme based on a standard DevExtreme or custom theme.
                </div>
                <div class="blocks">
                    <div class="block" [routerLink]="['/master']">
                        <div class="block-title">Choose a Base Theme</div>
                        <div class="block-image">
                            <app-icon-themes></app-icon-themes>
                        </div>
                    </div>
                    <div class="block" [routerLink]="['/import']">
                        <div class="block-title">Import a Theme</div>
                        <div class="block-image">
                            <app-icon-metadata></app-icon-metadata>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container  *ngSwitchCase="'import'">
            <div class="container">
                <div class="title">Import a Theme</div>
                <div class="text">
                    You can customize your DevExtreme or Bootstrap theme. For this, import a .json file with DevExtreme metadata or Bootstrap variables file.
                </div>
                <div class="blocks">
                    <div class="block" [routerLink]="['/']">
                        <div class="block-title">DevExtreme Metadata</div>
                        <div class="block-image">
                            <app-icon-export></app-icon-export>
                        </div>
                    </div>
                    <div class="block" [routerLink]="['/import-bootstrap']">
                        <div class="block-title">Bootstrap Variables</div>
                        <div class="block-image">
                            <app-icon-bootstrap></app-icon-bootstrap>
                        </div>
                    </div>
                </div>    
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'master'" >
                <div class="container">
                <div class="title">Choose a Base Theme</div>
                <div class="text">DevExtreme provides the Generic and Material themes available in various color schemes.</div>
                <div class="blocks">
                    <div class="block" [routerLink]="['/master/generic/light']">
                        <div class="block-title">Generic</div>
                        <div class="block-image">
                            <app-icon-generic></app-icon-generic>
                        </div>              
                    </div>
                    <div class="block" [routerLink]="['/master/material/blue-light']">
                        <div class="block-title">Material</div>
                        <div class="block-image">
                            <app-icon-material></app-icon-material> 
                        </div> 
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
