.blocks {
    display: flex;
    gap: 24px;
    justify-content: center;
}

@media only screen and (max-width: 700px) {
    .blocks {
        flex-direction: column;
    }

    .blocks .block {
        width: 100%;
        flex: 1;
    }
}

@media only screen and (min-width: 700px) {
    .blocks .block {
        width: 320px;
    }
}

.blocks .block {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    color: #596C7D;
    cursor: pointer;
}

.blocks .block .block-image {
    width: 80px;
    height: 80px;
}

.arrow-back {
    margin-right: 16px;
}

.title-link {
    display: flex;
    align-items: center;
}

.blocks .block:hover {
    background-color: #2190F7;
    color: #fff;
}

.blocks .block .block-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}

:host ::ng-deep .blocks .block:hover .icon-container .svg-icon path  {
    fill: #2190F7;
}
:host ::ng-deep .blocks .block .icon-container  {
    background-color: #2190F7;
}

:host ::ng-deep .blocks .block:hover .icon-container  {
    background-color: #fff;
}

:host ::ng-deep .blocks .block:hover .block-image .st0  {
    fill: #fff;
}
:host ::ng-deep .blocks .block:hover .block-image .st1  {
    fill: #2190F7;
}

:host ::ng-deep .blocks .block:hover .block-image .icon-material .st1,
:host ::ng-deep .blocks .block:hover .block-image .icon-material .st2  {
    fill:#158BFF;
}

.text {
    margin: 24px auto 48px auto;
}
