<div class="content">
    <div class="title-link" *ngIf="url !== ''" [routerLink]="['/']">ThemeBuilder</div>
    <ng-container [ngSwitch]="url">
        <ng-container *ngSwitchCase="''" >
            <div class="container">
                <div class="title index">ThemeBuilder</div>
                <div class="text">
                    The DevExtreme ThemeBuilder allows you to customize and create new custom themes with absolute ease.&nbsp;To modify a theme included in our distribution, select one of the following options:
                </div>
                <div class="blocks">
                    <div class="block" [routerLink]="['/master']">
                        <div class="block-image">
                            <app-icon-themes></app-icon-themes>
                        </div>
                        <div class="block-title">Select a Base Theme</div>
                    </div>
                    <div class="block" [routerLink]="['/import']">
                        <div class="block-image">
                            <app-icon-metadata></app-icon-metadata>
                        </div>
                        <div class="block-title">Import a Theme</div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container  *ngSwitchCase="'import'">
            <div class="container">
                <div class="title">Import a Theme</div>
                <div class="text">
                    You can customize your DevExtreme or Bootstrap theme as needed. To get started, import a .json file with DevExtreme metadata or Bootstrap variables file.
                </div>
                <div class="blocks">
                    <div class="block" [routerLink]="['/import', 'meta']">
                        <div class="block-image">
                            <app-icon-metadata></app-icon-metadata>
                        </div>
                        <div class="block-title">DevExtreme Metadata</div>
                    </div>
                    <div class="block" [routerLink]="['/import', 'bootstrap']">
                        <div class="block-image">
                            <app-icon-bootstrap></app-icon-bootstrap>
                        </div>
                        <div class="block-title">Bootstrap Variables</div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'master'" >
                <div class="container">
                <div class="title">Select a Base Theme</div>
                <div class="text">DevExtreme supports Generic and Material themes. Multiple color schemes are available for both themes.</div>
                <div class="blocks">
                    <div class="block" [routerLink]="['/master/generic/light']">
                        <div class="block-image">
                            <app-icon-generic></app-icon-generic>
                        </div>
                        <div class="block-title">Generic</div>
                    </div>
                    <div class="block" [routerLink]="['/master/material/blue-light']">
                        <div class="block-image">
                            <app-icon-material></app-icon-material>
                        </div>
                        <div class="block-title">Material</div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>
