:host {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
}

:host ::ng-deep .dx-toolbar .dx-toolbar-items-container {
    height: 100%;
}

:host ::ng-deep .dx-toolbar .dx-toolbar-item {
    padding: 0 10px 0 0;
}

:host ::ng-deep .dx-toolbar-item img {
    border-radius: 50%;
    border: 1px solid #9c9c9c;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}

.flex-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
 
.flex-blocks.generic.normal {
    bottom: 400px;
}

.flex-blocks.generic.compact {
    bottom: 448px;
} 

.flex-blocks.material {
    bottom: 362px;
}

.flex-block {
    flex: 1 1 520px;
    max-width: 100%;
    min-width: 520px;
    height: 330px; 
    box-sizing: border-box;
    padding: 25px;
}

.flex-blocks.generic.normal .flex-block {
    height: 265px;
}

.flex-blocks.generic.compact .flex-block {
    height: 205px;
}

.flex-block.left {
    margin: 0 12px 24px 24px;
}

.flex-block.right {
    margin: 0 24px 24px 12px;
}


:host ::ng-deep .flex-block .dx-button {
    margin-left: 10px;
    float: right;
}