<dx-toolbar class="header dx-theme-background-color" [items]="toolbarItems">
</dx-toolbar>
<div class="flex-blocks {{theme}} {{themeSize}}">
    <div class="left flex-block dx-card">
            <dx-form 
            #form
            [formData]="employee"
            width="100%" 
            [height]="this.theme === 'generic' ? (this.themeSize === 'compact' ? 125 : 175) :247"   
            colCount="2"
            [labelMode]="this.theme === 'fluent' ? 'outside' : 'floating'">
                <dxi-item dataField="FirstName" ></dxi-item>
                <dxi-item dataField="Position" editorType="dxSelectBox" [editorOptions]="{ items: positions, value: '' }">
                    <dxi-validation-rule type="required" message="Position is required"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="LastName"></dxi-item>
                <dxi-item dataField="HireDate" editorType="dxDateBox" [editorOptions]="{ value: null, width: '100%' }">
                    <dxi-validation-rule type="required" message="Hire date is required"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="Phone" ></dxi-item>
                <dxi-item dataField="Email" ></dxi-item>
            </dx-form>
            <dx-button text="Cancel" width="90"></dx-button>
            <dx-button text="Done" type="default" width="90"></dx-button>
        </div>
        <div class="right flex-block dx-card">
                <dx-list
                height="100%"
                [dataSource]="employees"
                [grouped]="true"
                [collapsibleGroups]="true">
                <div *dxTemplate="let item of 'group'">
                    <div>Assigned: {{item.key}}</div>
                </div>
            </dx-list>
        </div>
</div>
<div class="bottom-block">
        <dx-data-grid
        [dataSource]="sales"
        [showBorders]="true"
        keyExpr="orderId"
        height="auto"
        width="100%"
        [selectedRowKeys]="[10250, 10251]">
        <dxo-selection
            selectAllMode="allPages"
            showCheckBoxesMode="onClick"
            mode="multiple"
        ></dxo-selection>
        <dxo-paging
            [pageSize]="this.theme === 'generic' ? (this.themeSize === 'compact' ? 14 : 9) : 5"
        ></dxo-paging>
        <dxi-column
            dataField="orderId"
            caption="Order ID"
            [width]="90"
        ></dxi-column>
        <dxi-column dataField="city"></dxi-column>
        <dxi-column
            dataField="country"
            [width]="180"
        ></dxi-column>
        <dxi-column
            dataField="region"
        ></dxi-column>
        <dxi-column
            dataField="date"
            dataType="date"
        ></dxi-column>
        <dxi-column
            dataField="amount"
            format="currency"
            [width]="90"
        ></dxi-column>
    </dx-data-grid>
</div>
