:host {
    display: inline-block;
    width: 100%;
}

:host ::ng-deep .dx-checkbox {
    vertical-align: middle;
    margin-right: 10px;
}

:host ::ng-deep .dx-texteditor {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

:host ::ng-deep .dx-radiogroup { 
    display: inline-block;
    vertical-align: middle;
}

.editors {
    width: 100%;
    margin-bottom: 30px;
}

.editors .block {
    width: 480px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 30px;
}

.editors .block .field {
    margin: 0 10px 20px 0;
    flex: 1 0 150px;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

::ng-deep .dx-theme-material-typography .editors .block .field {
    min-height: 90px;
}

:host ::ng-deep .editors .dx-texteditor {
    width: 100%;
}

.editors .block .field .label {
    color: #999999;
    margin-bottom: 5px;
    font-size: 14px;
}

.block {
    display: inline-block;
    vertical-align: top;
}

.block .header {
    color: #999999;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 14px;
}

.radiogroup > *,
.checkbox > *,
.calendar > *,
.daterangebox > * {
    display: flex;
    width: auto;
    margin-bottom: 10px;
}

.calendar {
    margin-right: 30px;
    min-width: 280px;
}

.radiogroup,
.checkbox,
.switch {
    margin: 0 30px;
}

:host ::ng-deep .checkbox .dx-checkbox {
    margin-right: 0;
}

.switch {
    width: 120px;
}

.switch .field {
    width: auto;
    margin-bottom: 10px;
}

.switch .field > div {
    display: inline-block;
    margin-right: 10px;
}

.fileuploader {
    width: 250px;
}



