:host {
    display: inline-block;
    width: 100%;
}

:host ::ng-deep .dx-checkbox {
    vertical-align: middle;
    margin-right: 10px;
}

:host ::ng-deep .dx-texteditor {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.collapsed-block {
    display: flex;
    align-items: center;
}

.editors {
    margin-bottom: 30px;
    flex-direction: column;
}

.editors .block {
    display: inline-flex;
    flex-wrap: wrap;
}

.editors .block .field {
    margin: 0 10px 20px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editors .block .field.daterangebox {
    display: block;
    max-width: initial;
    margin-right: 0;
}

::ng-deep .dx-theme-material-typography .editors .block .field {
    min-height: 60px;
}

:host ::ng-deep .editors .dx-texteditor {
    width: 100%;
}

.editors .block .field .label {
    color: #999999;
    margin-bottom: 5px;
    font-size: 14px;
}

.block {
    display: inline-block;
    vertical-align: top;
}

.block .header {
    color: #999999;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 14px;
}

.calendar > *,
.daterangebox > * {
    display: flex;
    width: auto;
    margin-bottom: 10px;
}

.checkbox > * {
    display: flex;;
}

::ng-deep .dx-radiogroup .dx-radiobutton {
    margin-bottom: 0;
    margin-top: 0;
}

.daterangebox {
    min-width: 270px;
}

.calendar {
    margin-right: 30px;
    min-width: 280px;
}

:host ::ng-deep .checkbox .dx-checkbox {
    margin-right: 0;
}

.switch {
    width: 120px;
}

.switch .field {
    display: flex;
    gap: 10px;
}

.switch .value {
    display: flex;
}

.switchers {
    gap: 48px;
}

.component-container {
    height: 32px;
    display: flex;
    align-items: center;
}

.fileuploader {
    width: 360px;
}

.component-section {
    display: flex;
    gap: 48px;
}

.component-section .block {
    flex: 1;
    display: flex;
}

.grouped-fields {
    display: flex;
    width: 100%;
}

.editors .grouped-fields .field.validation {
    flex-basis: 32%;
}

.editors .grouped-fields .field.daterangebox {
    flex-basis: 66%;
}
