@font-face {
    font-family: "OpenSansCondensedBold";
    src: url("./content/fonts/OpenSansCondensedBold.eot");
    src: url("./content/fonts/OpenSansCondensedBold.eot?#iefix") format("embedded-opentype"),
         url("./content/fonts/OpenSansCondensedBold.woff") format("woff"),
         url("./content/fonts/OpenSansCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    width: 100%;
    height: 100%;
}

.dx-textbox.dx-editor-outlined {
    border-radius: 4px;
}

.dx-textarea.dx-editor-outlined {
    border-radius: 4px;
}

:focus {
    outline: none;
}

.title-link {
    display: flex;
    align-items: center;
}

.title-link .arrow-back {
    margin-right: 16px;
}

.info-color {
    color: #03a9f4;
}

@media only screen and (max-width: 768px) {
    .content-width {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-height: 1000px) {
    body {
        overflow-y: hidden;
    }
}
