@font-face {
    font-family: "OpenSansCondensedBold";
    src: url("./content/fonts/OpenSansCondensedBold.eot");
    src: url("./content/fonts/OpenSansCondensedBold.eot?#iefix") format("embedded-opentype"),
         url("./content/fonts/OpenSansCondensedBold.woff") format("woff"),
         url("./content/fonts/OpenSansCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    width: 100%;
    height: 100%;
}

:focus {
    outline: none;
}

@media (min-height: 1000px) { 
    body {
        overflow-y: hidden;
    }
}

@media (min-width: 1000px) { 
    body {
        overflow-x: hidden;
    }
}
