<div *ngIf="isExpanded.getValue(); then expandedBlock; else collapsedBlock"></div>
<ng-template #collapsedBlock>
    <div class="btn-container">
        <div class="btn-row">
            <div class="btn-cell btn-cell--empty"></div>
            <div class="btn-cell">
                <span>Contained button</span>
            </div>
            <div class="btn-cell">
                <span>Outlined button</span>
            </div>
            <div class="btn-cell">
                <span>Text button</span>
            </div>
        </div>

        <div class="btn-row">
            <div class="btn-cell btn-cell--empty"></div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode}"></ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>
<ng-template  #expandedBlock>
    <div class="btn-container">
        <div class="btn-row">
            <div class="btn-cell btn-cell--empty"></div>
            <div class="btn-cell">
                <span>Contained button</span>
            </div>
            <div class="btn-cell">
                <span>Outlined button</span>
            </div>
            <div class="btn-cell">
                <span>Text button</span>
            </div>
        </div>

        <div class="btn-row">
            <div class="btn-cell">
                <span>Normal</span>
                {{ logging('Normal') }}
            </div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode}"></ng-container>
            </ng-container>
        </div>

        <div class="btn-row">
            <div class="btn-cell">
                <span>Hover</span>
            </div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode}"></ng-container>
            </ng-container>
        </div>

        <div class="btn-row">
            <div class="btn-cell">
                <span>Active</span>
            </div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode}"></ng-container>
            </ng-container>
        </div>

        <div class="btn-row">
            <div class="btn-cell">
                <span>Focused</span>
            </div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode}"></ng-container>
            </ng-container>
        </div>

        <div class="btn-row">
            <div class="btn-cell">
                <span>Disable</span>
            </div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode}"></ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #buttonTemplate let-mode="mode">
    <div class="btn-cell">
      <div class="btn-list">
          <dx-button-group
              keyExpr="style"
              selectionMode="multiple"
              [items]="fullButtonItems"
              [stylingMode]="mode"
          ></dx-button-group>
          <br/>
          <dx-button-group
              keyExpr="style"
              selectionMode="multiple"
              [items]="shortButtonItems"
              [stylingMode]="mode"
          ></dx-button-group>
      </div>
    </div>
</ng-template>
