<div *ngIf="isExpanded.getValue(); then expandedBlock; else collapsedBlock"></div>
<ng-template #collapsedBlock>
    <div class="btn-container">
        <div class="btn-row">
            <div class="btn-cell btn-cell--empty"></div>
            <div class="btn-cell">
                <span>Contained button</span>
            </div>
            <div class="btn-cell">
                <span>Outlined button</span>
            </div>
            <div class="btn-cell">
                <span>Text button</span>
            </div>
        </div>

        <div class="btn-row">
            <div class="btn-cell btn-cell--empty"></div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode}"></ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>
<ng-template  #expandedBlock>
    <div class="btn-container">
        <div class="btn-row">
            <div class="btn-cell btn-cell--empty"></div>
            <div class="btn-cell">
                <span>Contained button</span>
            </div>
            <div class="btn-cell">
                <span>Outlined button</span>
            </div>
            <div class="btn-cell">
                <span>Text button</span>
            </div>
        </div>

        <div class="btn-row">
            <div class="btn-cell">
                <span>Normal</span>
            </div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode}"></ng-container>
            </ng-container>
        </div>

        <div class="btn-row">
            <div class="btn-cell">
                <span>Hover</span>
            </div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode, initState: initStateHover}"></ng-container>
            </ng-container>
        </div>

        <div class="btn-row">
            <div class="btn-cell">
                <span>Active</span>
            </div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode, initState: initStateActive}"></ng-container>
            </ng-container>
        </div>

        <div class="btn-row">
            <div class="btn-cell">
                <span>Focused</span>
            </div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode, initState: initStateFocused}"></ng-container>
            </ng-container>
        </div>

        <div class="btn-row">
            <div class="btn-cell">
                <span>Disable</span>
            </div>

            <ng-container *ngFor="let mode of buttonModes">
                <ng-container *ngTemplateOutlet="buttonTemplate; context: {mode: mode, initState: initStateDisabled}"></ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #buttonTemplate let-mode="mode" let-initState="initState">
    <div class="btn-cell">
      <div class="btn-list">
          <dx-button-group
              [items]="fullButtonItems"
              [stylingMode]="mode"
              (onContentReady)="initState ? initState($event) : null"
          ></dx-button-group>
          <br/>
          <dx-button-group
              [items]="shortButtonItems"
              [stylingMode]="mode"
              (onContentReady)="initState ? initState($event) : null"
          ></dx-button-group>
      </div>
    </div>
</ng-template>
