.drawer-panel {
    width: 200px;
    height: 200px;
    padding: 5px 10px;
}

.drawer-panel p {
    margin: 0;
}

.drawer-content {
    padding: 15px;
}

:host ::ng-deep .dx-toolbar .dx-toolbar-items-container {
    height: 36px;
    line-height: 36px
}